html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.text-center{
    text-align: center;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}

.button{
    background-color: rgb(51, 0, 255);
    color: white;
    padding: 20px;
    width: 66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 200px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.item-center{
    align-items: center;
}
.row{
    margin: 8px 0;
}
.row input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300&display=swap');

h1{
    text-align: center;
}